/*Basic*/
/*-------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family:'Courier New', Courier, monospace
}
.row{
    max-width:1140px;
    margin: 0 auto 0 auto;
  
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}
/*HEADER*/
/*--------------------*/
header{
    background-image: url(../img/spot.jpg);
    height: 88vh;
    background-position: center;
    background-size: cover;
    margin-bottom: 95px;

}
.header-top{
    height: 90px;
    
    background-color: #0009;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    
    
}
.icon1{
    background-color:white;
    border-radius: 50%;
    float: left;
    margin-top: 20px;
    margin-left: 250px;
    font-size: 20%;
    
}



.name{
    float: left;
    margin-top: 28px;
    padding-left: 2px;
    font-size: 28px;
    color: white;
    font-weight:500;
}
/*NAVBAR*/
/*----------------------*/
.main-nav{
    list-style: none;
    float: right;
   margin-top: 30px;
    font-size: 20px;
    margin-right: 260px;
    margin-bottom: 70px;
}


.mobile-navicon{
    float: right;
    color: white;
    margin-top: 25px;
    font-size: 30px;
    display: none;
}
.main-nav li{
    display: inline-block;
    margin-left: 20px;
    padding-bottom: 10px;

}
.main-nav .icon2{
    font-size: 20px;
}
.main-nav li a{
    text-decoration: none;
    color: white;
    margin-top: auto;
   
}
.main-nav li a:hover,
.main-nav li a:active,
.icon2:hover,
.icon2:active,
.icon3:hover,
.icon3:active{
    color: greenyellow;
}



.line{
    height: 20px;
    width: 2px;
    color: white;
    display: block;
}
.icon2{
    font-size: 55px;
    color: white;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -10px;
}
.prof{
    color: white;
}
.icon3{
    color: white;
    font-size: 15px;
}
.image,
.image2{
    opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.image img,
.image2 img,
.image3 img,
.image4 img,
.image5 img,
.image6 img{
    width: 100%;
    height: 230px;
    padding-right: 12px;
    padding-bottom: 5px;
}

.images{
    list-style: none;
    width: 100%;
    position: relative;

    
}
.img-text,
.img-text2,
.img-text3,
.img-text4,
.img-text5,
.img-text6{
 transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70px;
  left: 70px;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.img-text2{
    position: absolute;
    left:310px;
}
.img-text3{
    position: absolute;
    left: 560px;
}
.img-text4{
    position: absolute;
    top: 300px;
}
.img-text5{
    position: absolute;
    top: 300px;
    left: 310px;
}
.img-text6{
    position: absolute;
    top: 300px;
    left: 560px;
}
.image:hover .hoverimg1,
.image2:hover .hoverimg2,
.image3:hover .hoverimg3,
.image4:hover .hoverimg4,
.image5:hover .hoverimg5,
.image6:hover .hoverimg6{
    opacity: 0.3;
}
.image:hover .img-text,
.image2:hover .img-text2,
.image3:hover .img-text3,
.image4:hover .img-text4,
.image5:hover .img-text5,
.image6:hover .img-text6{
    opacity: 1;
}

.images li{
    float: left;
    width: 33%;
    display: block;

}


.header-left{
    color: white;
   margin-top: 50px;
   position: relative;
   top: 200px;
}
.text1{
    font-size: 50px;
    font-weight: 600;
}
.header-left p{
    font-size:30px ;
    font-weight: 400;
    margin-bottom: 30px;
}
.header-left a{
    list-style: none;
    text-decoration: none;
    background-color: #000;
    padding: 20px 80px 20px 80px;
    width: 100%;
    color: white;
    border-radius: 30px;
    font-weight: 500;
    word-spacing: 1px;
    opacity: 1;
    transition: opacity, color 0.2s;
}
.header-left a:hover{
    opacity: 0.8;
    color: rgb(214, 211, 211);
}
.header-right{
    position: relative;
    top: 100px;
}
.nyil{
    list-style: none;
    text-decoration: none;
    margin-left: 830px;
    position: relative;
    top:130px
}
.icon4{
    font-size: 42px;
    color: white;
    
}
.text2{
    padding-bottom: 25px;
}
.toggle{
    float: right;
    background-color: rgb(218, 218, 218);
    width: 150px;
    height:80px;
    position: fixed;
    top: 90px;
    left: 1275px;
    z-index: 1;
    border-radius: 5%;
    display: none;
    

}
.toggle p{
    font-size: 20px;
   padding-left: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   font-weight: 500;
}
.toggle p:hover,
.toggle p:active{
    color: green;
    cursor: pointer;
}
/*SECTION1*/
/*----------------------*/
.s1{
    height: 35vh;
    
}
.s1-header{
    font-size: 45px;
    padding-bottom: 30px;
    font-weight: 600;
    
}
.s1 p{
    font-size: 18px;
    padding-bottom: 18px;
    word-spacing: 2px;
}
.s1 h2{
    padding-bottom: 15px;
}
.s1 a{
    list-style: none;
    text-decoration: none;
    color: green;
}
/*FOOTER*/
/*--------------------*/
footer{
    height: 60vh;
    background-color: black;
}
.footer-text1{
    color: white;
    font-size: 28px;
    position: relative;
    top: 29px;
    
    
}
footer a{
    text-decoration: none;
}
.ft-logo{
    padding-top: 40px; 
}
.list{
    margin-top: 10px;

    
}
.list1{
    float: left;
    padding-left: 170px;
    
    
}

.list2{
    float: left;
    padding-left: 100px;
}
.list3{
    float: left;
    padding-left: 100px;
}
.list1 li ,
.list2 li ,
.list3 li {
    padding-bottom: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 17px;
    
}
.list1 li:first-child ,
.list2 li:first-child ,
.list3 li:first-child {
    color: rgb(192, 189, 189);
    cursor:auto;

}
.hoverli:active,
.hoverli:hover{
    color: yellowgreen;
}
.social-logos{
    float: right;
    margin-right: 280px;
    padding-left:100px;
   
    
}
.logo1{
    color: white;
    font-size: 28px;
    display: inline-block;
    padding: 10px 10px 5px 10px;
    border-radius: 50%;
    background-color: rgb(51, 50, 50);
    
}
.logo1:hover,
.logo1:active{
    color: yellowgreen;
}
.fn{
    margin-left: 250px;
    position: relative;
    top: 130px;
}

.footer-nav1 li{
    list-style: none;
    display: inline-block;
}
.footer-nav1 li a{
    text-decoration: none;
    color: rgb(192, 189, 189);
    padding-right: 15px;
    font-size: 14px;
    word-spacing: 1px;
    
    
}
.footer-nav1 li a:active,
.footer-nav1 li a:hover{
    color: yellowgreen;
}
.footer-text{
    color: rgb(192, 189, 189);
    float: right;
    text-align: right;
    font-size: 14px;
    margin-right: 280px;
    position: relative;
    top: 83px;
    
}
.footer-text p{
    padding-bottom: 10px;
}
.phover:hover,
.phover:active{
    color: yellowgreen;
    cursor: pointer;

}
/*MEDIA QUERRIES*/
@media only screen and (max-width: 520px ){
    .main-nav{
       margin-left: 300px;
        margin-right: auto;
        margin-top: 19px;
        background-color: #0009;
        padding-bottom: 30px; 
        display: none;
           
    }
    .row{
        max-width: 768px;
    }
    .main-nav .line{
        display: none;
    }
    .nyil{
        margin-left: 220px;
        position: relative;
        top: 250px;
    }
    .main-nav li {
    display: block;
    }
    .icon1{
        font-size: 10%;
        margin-left: auto;
    }
    .mobile-navicon{
        display: inline-block;
        cursor: pointer;
    }
    .images{
        display: none;
    }
    .header-left{
       width: 500px;
        margin-left: 160px;
        font-size: 15px;
        margin-top: auto;
    }
    .text1{
        padding-bottom: 10px;
    }
    .text2{
        font-size: 10px;
        text-align: center;
        display: block;
        position: relative;
        top: 0;
        
       
        
    }
    header{
        margin-bottom: 30px;
    }
    .header-left a{
        font-size: 12px;
        padding-left: 10px;
        padding-right:10px;
        width: 30px;
        height: 10px;
        margin-left: 15px;
    
    }
       .header-top{
           max-width: 768px;
       }
    .media1{
        margin-left: 50px;
    }
    .media2{
        margin-left: 18px;
    }
    .s1 .s1-header{
        font-size: 30px;
        margin-left: 70px;

    }
    .s1-content h2{
        font-size: 19px;
    }
    
     .s1-content .pmargin1,
     .s1-content .pmargin2{
         padding-top: 20px;
         
     }
     .s1 p{
         padding-bottom: 32px;
     }
     .s1 .pmargin1{
         padding-bottom: 37px;
     }
     .s1 .pmargin2{
         padding-bottom: 55px;
     }
     .amargin2{
        padding-left: 15px;
        display: block;
     }
     .s1 a{
         font-size: 15px;
     }
     footer{
         height: 120vh;
         font-size: 15px;
     }
    .ft-logo {
         width: 200px;
         height: 50px
     }
     .list{
         float: left;
         margin-left: auto;
         padding-top: 20px;
         
     }
     .list1{
         
         padding-left: 20px;
         
         
     }
     .list2
     {
        padding-left: 20px;
     }
     .list3{
        padding-left: 20px;
        
     }
     .social-logos{
         width: 400px;
         padding-left: 150px;
         padding-bottom: 30px;
     }
     .fn{
         float: left;
         margin-right: 100px;
     }
     .fn li a{
         padding-right: 70px;
         font-size: 12px;
         padding-top: 20px;
         
        
         
     }
     .footer-text{     
         float: left;
         text-align: left;
     }
     .ft-logo{
         padding-top: 20px;
        
     }
     .name{
         display: block;
     }
    }
    
       


